@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.react-input-emoji--input {
    white-space: nowrap !important;
    /* Disable wrapping */
    overflow-x: auto !important;
    /* Enable horizontal scroll */
    overflow-y: hidden !important;
    /* Prevent vertical scroll */
    display: block !important;
    width: 100% !important;
}

.react-input-emoji--container {
    width: 100% !important;
}

.react-input-emoji--picker {
    position: fixed !important;
    bottom: 80px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    width: 100vw !important;
    max-width: 420px !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2f3549;
    /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 2px solid #4a5568;
    /* Optional: Add a border around the thumb */
}


.react-input-emoji--input::-webkit-scrollbar {
    height: 5px;
    /* 👈 change this value */
}

/* Scrollbar track */
.react-input-emoji--input::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar thumb */
.react-input-emoji--input::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    /* Tailwind slate-400 */
    border-radius: 10px;
}

.react-input-emoji--input::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}