@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2f3549;
    /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 2px solid #2f3549;
    /* Optional: Add a border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f3549;
    /* Change color on hover */
}