@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #547bca;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #547bca;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #547bca;
}

/* Styles for the input container */
.input-container {
    width: 100%;
    max-width: 100px; /* Adjust this for larger screens */
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  
/* Target the emoji picker dropdown container */
.react-input-emoji--wrapper {
      width: 240px;  
}
      